.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge__2 {
  width: 17px;
  height: 17px;
  border-radius: 15px;
  border: 1px solid tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  color: tomato;
  font-weight: 600;
}
